<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body class='body'>

    <div class="container-fluid">
        <ul>
            <li><a href="/login">login</a></li>
            <li><a href="/signup">signup</a></li>
        </ul>
    </div>

    <div class="container-fluid">
        <p>Hello Friend.</p>
    </div>
    
    <div class="container-fluid">
        <form action='/login' method="POST">
            <input name="email" type="email" placeholder="Email">
            <input name="password" type="password" placeholder="Password">
            <input type="submit">
        </form>
    </div>

    <div class="container-fluid">
        <footer>
            <p>&copy;2018</p>
        </footer>
    </div>
</body>
</html>
